<app-navbar></app-navbar>

<div class="home__wrapper">

    <img src="../../../assets/image/upload.svg" alt="">
    
    <div class="upload__card">

        <div class="cloud_text">
           
        </div>

        <div class="upload_img">
            <img class="upload_icon" src="https://img.icons8.com/fluency/48/000000/upload-to-cloud.png"/>
        </div>

        <div class="upload_button">
            <button class="btn">Upload a file</button>
            <input type="file" name="myfile" />
        </div>
       
    </div>
</div>
