
.upload__card {
    width: 600px;
    margin-top: -365px !important;
    height: 200px;
    border-radius: 2rem;
    justify-content: center impo;
    margin: auto;
    background-color: whitesmoke
}

